.notFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 3rem;
  margin-top: 100px;
  color: var(--color-violet);
}

.link {
  margin-top: 40px;
  padding: 15px 40px;
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-violet);
  border-radius: 8px;
  text-decoration: none;
  margin-bottom: 200px;
  border: 2px solid var(--color-violet);

  &:hover {
    color: var(--color-violet);
    background-color: var(--color-dark);
  }
}
