.events {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 10px;
  align-items: flex-start;
  margin-top: 50px;
}

.image {
  max-height: 420px;
  object-fit: contain;
  max-width: min(60vw, 600px);

  @media (max-width: 768px) {
    height: auto;
    max-width: 100%;
    max-height: fit-content;
    width: 95vw;
  }
}
