.card {
  border-radius: 6px;
  padding: 30px 20px 30px 30px;
  width: max(380px, 25vw);
  font-size: 0.9rem;
  background-color: var(--color-dark);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0px 0px 6px 7px rgba(64, 11, 78, 0.8);
  transition: box-shadow 0.3s ease;
  margin-right: 30px;
  margin-top: 40px;
  z-index: 2;

  &:hover {
    box-shadow: 0px 1px 9px 11px rgba(64, 11, 78, 1);
  }

  @media (max-width: 768px) {
    margin-right: 0;
    height: auto;
    padding: 30px 15px 30px 15px;
    font-size: 0.85rem;
  }
}

.foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 15px 0;
  object-fit: cover;
}

.mockedFoto {
  background-color: var(--color-light);
}

.title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  width: 100%;
  font-weight: bold;
  row-gap: 10px;
  column-gap: 5px;
}

.tag {
  margin-right: 10px;
  display: inline-block;
  padding: 5px 10px;
  background-color: var(--color-violet);
  border-radius: 20px;
}
