.row {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  width: 70vw;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.service {
  font-size: 1.1rem;
  width: 60%;

  @media (max-width: 768px) {
    width: 65%;
    font-size: 1rem;
  }
}

.price {
  font-size: 1.2rem;
  width: 30%;
  text-align: right;
}

.services {
  margin-top: 40px;
  margin-bottom: 90px;
}

.sectionName {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-light);
  letter-spacing: 2px;
  width: 70vw;

  @media (max-width: 768px) {
    width: 100%;
    line-height: 36px;
  }
}

.price {
  text-align: right;
}
