body {
  font-family: "DM Sans", serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 62.5%;
}

.body {
  background-color: var(--color-dark);
  width: 100vw;
  height: 100vh;
}
