.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 0.95rem;
  z-index: 2;
  background-color: var(--color-dark);

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    font-weight: bold;

    &:hover {
      color: var(--color-violet);
    }
  }
}

.logo:hover path {
  fill: var(--color-violet);
}
